<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Книги библиотеки</title>
    <!--    <script th:inline="javascript">-->
    <!--        let flag = [[${exception}]];//переменная-флаг в thymeleaf-->
    <!--        window.onload = () => {-->
    <!--            if (flag) new bootstrap.Modal(document.getElementById('deleteErrorModal'), {keyboard: false}).show()-->
    <!--        };-->
    <!--    </script>-->
</head>
<body>
<div layout:fragment="content">
    <div class="container">
    <div>
        <hr class="hr"/>
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Главная</a></li>
                <li class="breadcrumb-item active" aria-current="page">Книги</li>
            </ol>
        </nav>
        <h3>Поиск книги</h3>
        <form method="POST" th:action="@{/books/search}" th:object="${bookSearchForm}">
            <div class="mt-0 row g-2">
                <div class="col-md">
                    <div class="form-floating">
                        <input name="bookTitle" type="text" class="form-control" id="title"
                               placeholder="Название книги">
                        <label for="title">Название книги</label>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-floating">
                        <input name="authorFio" type="text" class="form-control" id="authorFio"
                               placeholder="ФИО автора">
                        <label for="authorFio">Автор</label>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-floating">
                        <select class="form-select" name="genre" id="genre">
                            <option selected th:value="null">Выберете жанр из списка</option>
                            <option th:each="genre : ${T(com.sber.spring.springproject.library.model.Genre).values()}"
                                    th:value="${genre}" th:text="${genre.getGenreTextDisplay()}"></option>
                        </select>
                        <label for="genre">Жанр</label>
                    </div>
                </div>
                <div class="row g-2">
                    <button type="submit" class="btn btn-outline-secondary">Найти книгу</button>
                </div>
            </div>
        </form>
    </div>
    <hr class="mt-3 hr"/>
    <div class="mt-5">
        <div class="row">
            <div class="col">
                <h2>Все книги библиотеки</h2>
            </div>
            <div class="col">
                <a sec:authorize="isAuthenticated() && hasAnyRole('ADMIN', 'LIBRARIAN')"
                   th:href="@{/books/add}"
                   class="btn btn-primary"
                   role="button"
                   style="float: right"
                   aria-disabled="true">Добавить книгу</a>
            </div>
        </div>
        <div>
            <div class="row">
                <div class="col-lg" th:each="book : ${books}">
                    <div class="card m-1" style="width: 25rem;" >
                    <div class="row g-0">
                        <div class="col-md-5">
                            <img th:src="@{${book.getImage()}}" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md">

                        <div class="card-body">
                            <h5><a class="card-title" th:href="'/books/' + ${book.getId()}"
                                th:text="${book.getTitle()}"></a></h5>
                            <h6 class="card-subtitle mb-2 text-body-secondary" th:text="${book.getGenre().getGenreTextDisplay()}"></h6>
                            <ul class="card-text">
                                <li th:each="author : ${book.getAuthors()}" th:text="${author.getAuthorFio()}"></li>
                            </ul>
                            <p class="card-text">
                                <a class="text-link text-blue" th:if="${book.getFileDirectory()} != null"
                                   th:href="@{|/books/download?bookId=${book.id}|}">
                                    <span>Скачать книгу</span>
                                </a></p>
                            <div class="text-center">
                                <a sec:authorize="isAuthenticated() && (hasRole('ADMIN') || hasRole('LIBRARIAN'))"
                                   class="btn btn-sm btn-outline-success"
                                   th:href="'/books/update/' + ${book.id}">Обновить</a>
                                <a sec:authorize="isAuthenticated() && (hasRole('ADMIN') || hasRole('LIBRARIAN'))"
                                   th:if="${!book.isDeleted()}" class="btn btn-sm btn-outline-danger"
                                   th:href="'/books/delete/' + ${book.id}"
                                   onclick="return confirm('Вы действительно хотите удалить книгу?')">Удалить</a>
                                <a sec:authorize="isAuthenticated() && (hasRole('ADMIN') || hasRole('LIBRARIAN'))"
                                   th:if="${book.isDeleted()}" class="btn btn-sm btn-outline-warning"
                                   th:href="'/books/restore/' + ${book.getId()}">Восстановить</a>
                            </div>

                        </div>
                            <div class="text-center">
                                <a th:if="${book.getAmount() > 0}" class="btn btn-primary mt-1"
                                   th:href="'/rent/book/' + ${book.id}">Арендовать книгу</a>
                            </div>
                    </div>
                </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="m-3">
            <nav aria-label="Pagination" th:if="${books.totalPages gt 0}">
                <ul class="pagination justify-content-center font-weight-bold">
                    <li class="page-item" th:classappend="${books.number eq 0} ? 'disabled'">
                        <a class="page-link"
                           th:href="@{/books?page={id}(id=${books.number lt 2 ? 1 : books.number})}"
                           aria-label="Previous" title="Previous Page" data-toggle="tooltip">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item text-bg-info" th:classappend="${i eq books.number + 1} ? 'active'"
                        th:each="i : ${#numbers.sequence( 1, books.totalPages, 1)}">
                        <a class="page-link" th:href="@{/books?page={id}(id=${i})}" th:text="${i}"
                           th:title="${'Page '+ i}" data-toggle="tooltip"></a>
                    </li>
                    <li class="page-item" th:classappend="${books.number eq books.totalPages - 1} ? 'disabled'">
                        <a class="page-link"
                           th:href="@{/books?page={id}(id=${books.number + 2})}"
                           aria-label="Next" title="Next Page" data-toggle="tooltip">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
</div>
</body>
</html>