<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Обновить книгу</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
    <h3 class="mt-3 mb-3">Обновить книгу</h3>
    <form enctype="multipart/form-data" class="needs-validation" novalidate method="POST"
          th:action="@{/books/update}" th:object="${bookForm}">
        <input type="hidden" name="id"
               th:value="${book.getId()}">
        <div class="mt-3 row g-2">
            <div class="col-md">
                <div class="form-floating">
                    <input name="title" th:value="${book.getTitle()}" th:object="${book}" th:field="*{title}"
                           type="text" class="form-control" id="title" placeholder="Название книги"
                           required>
                    <label for="title">Название</label>
                    <div class="invalid-feedback">Обязательное поле для заполнения</div>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <select class="form-select" name="genre" id="genre" required th:object="${book}"
                            th:field="*{genre}">
                        <option selected value="default">Выберете жанр из списка</option>
                        <option th:each="genre : ${T(com.sber.spring.springproject.library.model.Genre).values()}"
                                th:value="${genre}" th:text="${genre.getGenreTextDisplay()}"></option>
                    </select>
                    <label for="genre">Жанр</label>
                    <div class="invalid-feedback">Обязательное поле для заполнения</div>
                </div>
            </div>
        </div>
        <div class="mt-3 form-floating">
            <input type="hidden" th:value="${book.getFileDirectory()}" name="fileDirectoryInput"
                   class="form-control form-control-sm">
            <input name="fileDirectoryInput" type="file" class="form-control form-control-sm" id="fileDirectoryInput"
                   placeholder="Онлайн копия файла" style="padding-top: 2rem;">
            <label for="fileDirectoryInput">Онлайн копия</label>
        </div>
        <div class="mt-3 form-floating">
            <input type="hidden" th:value="${book.getImage()}" name="fileImageInput"
                   class="form-control form-control-sm">
            <input name="fileImageInput" type="file" class="form-control form-control-sm" id="fileImageInput"
                   placeholder="Фото книги" style="padding-top: 2rem;">
            <label for="fileImageInput">Фотография</label>
        </div>
        <div class="mt-3 row g-2">
            <div class="col-md">
                <div class="form-floating">
                    <input name="amount" type="number" class="form-control" id="amount" placeholder="Количество книг"
                           required th:value="${book.getAmount()}">
                    <label for="amount">Количество книг</label>
                    <div class="invalid-feedback">Обязательное поле для заполнения</div>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <input name="pageAmount" type="number" class="form-control" id="pageAmount"
                           placeholder="Количество страниц" th:value="${book.getPageAmount()}">
                    <label for="pageAmount">Количество страниц</label>
                </div>
            </div>
        </div>
        <div class="mt-3 row g-2">
            <div class="col-md">
                <div class="form-floating">
                    <input name="publish" type="text" class="form-control" id="publish" placeholder="Издательство"
                           required th:value="${book.getPublish()}">
                    <label for="publish">Издательство</label>
                    <div class="invalid-feedback">Обязательное поле для заполнения</div>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <input name="publishYear" type="date" class="form-control" id="publishYear"
                           placeholder="Год публикации" required th:value="${book.getPublishYear()}">
                    <label for="publishYear">Год издания</label>
                    <div class="invalid-feedback">Обязательное поле для заполнения</div>
                </div>
            </div>
        </div>
        <div class="mt-3 row g-2">
            <div class="col-md">
                <div class="form-floating">
                    <input name="storagePlace" type="text" class="form-control" id="storage"
                           placeholder="Место хранения" th:value="${book.getStoragePlace()}">
                    <label for="storage">Место хранения</label>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <textarea name="description" type="text" class="form-control" id="description"
                              placeholder="Описание" th:text="${book.getDescription()}"></textarea>
                    <label for="description">Описание</label>
                </div>
            </div>
        </div>
        <div class="mt-3 row g-2">
            <button type="submit" class="btn btn-primary" onclick="validateForm()">Обновить</button>
            <button type="button" class="btn btn-secondary" onclick="window.history.back()">Назад</button>
        </div>
    </form>
</div>
</div>
</body>
</html>