<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">
<head>
    <title>Список авторов библиотеки</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
    <div>
        <hr class="hr"/>
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Главная</a></li>
                <li class="breadcrumb-item active" aria-current="page">Авторы</li>
            </ol>
        </nav>
        <h3>Поиск автора</h3>
        <form method="POST" th:action="@{/authors/search}" th:object="${authorSearchForm}">
            <div class="mt-0 row g-2">
                <div class="col-md">
                    <div class="form-floating">
                        <input name="authorFio" type="text" class="form-control" id="authorFio"
                               placeholder="ФИО автора">
                        <label for="authorFio">ФИО автора</label>
                    </div>
                </div>
                <div class="row g-2">
                    <button type="submit" class="btn btn-outline-secondary">Найти автора</button>
                </div>
            </div>
        </form>
    </div>
    <hr class="mt-3 hr"/>
    <div class="mt-5">
        <div class="row">
            <div class="col">
                <h2>Список всех авторов библиотеки</h2>
            </div>
            <div class="col">
                <a sec:authorize="isAuthenticated() && (hasRole('ADMIN') || hasRole('LIBRARIAN'))"
                   th:href="@{/authors/add}"
                   class="btn btn-primary"
                   role="button"
                   style="float: right"
                   aria-disabled="true">Добавить автора</a>
            </div>
        </div>
        <div>
            <div class="row text-center">
                <div class="col-lg" th:each="author : ${authors}">
                    <div class="card m-1" style="width: 18rem;">
                        <img th:src="@{${author.getImage()}}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title"><a class="text-link text-blue" th:href="'/authors/' + ${author.getId()}"
                                                      th:text="${author.getAuthorFio()}"></a></h5>
                            <p class="card-text" th:text="${author.getBirthDate()}"></p>
                            <p class="card-text" th:text="${author.getDescription()}"></p>
                            <a sec:authorize="isAuthenticated() && (hasRole('ADMIN') || hasRole('LIBRARIAN'))"
                               class="btn btn-sm btn-outline-success" th:href="'/authors/update/' + ${author.getId()}">Обновить</a>
                            <a sec:authorize="isAuthenticated() && (hasRole('ADMIN') || hasRole('LIBRARIAN'))"
                               th:if="${!author.isDeleted()}" class="btn btn-sm btn-outline-danger mt-1"
                               th:href="'/authors/delete/' + ${author.getId()}"
                               onclick="return confirm('Вы действительно хотите удалить автора?')">Удалить</a>
                            <a sec:authorize="isAuthenticated() && (hasRole('ADMIN') || hasRole('LIBRARIAN'))"
                               th:if="${author.isDeleted()}" class="btn btn-sm btn-outline-warning mt-1"
                               th:href="'/authors/restore/' + ${author.getId()}">Восстановить</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Пагинация-->
    <div>
        <nav aria-label="Pagination" th:if="${authors.getTotalPages() gt 0}">
            <ul class="pagination justify-content-center font-weight-bold">
                <li class="page-item" th:classappend="${authors.number eq 0} ? 'disabled'">
                    <a class="page-link"
                       th:href="@{/authors?page={id}(id=${authors.number lt 2 ? 1 : authors.number})}"
                       aria-label="Previous" title="Previous Page" data-toggle="tooltip">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item" th:classappend="${i eq authors.number + 1} ? 'active'"
                    th:each="i : ${#numbers.sequence( 1, authors.totalPages, 1)}">
                    <a class="page-link" th:href="@{/authors?page={id}(id=${i})}" th:text="${i}"
                       th:title="${'Page '+ i}" data-toggle="tooltip"></a>
                </li>
                <li class="page-item" th:classappend="${authors.number eq authors.totalPages - 1} ? 'disabled'">
                    <a class="page-link"
                       th:href="@{/authors?page={id}(id=${authors.number + 2})}"
                       aria-label="Next" title="Next Page" data-toggle="tooltip">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
</div>
</body>
</html>