<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Обновить автора</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
    <h3 class="mt-3 mb-3" th:text="'Обновить автора ' + ${author.getAuthorFio()}"></h3>
    <form enctype="multipart/form-data" class="needs-validation" novalidate method="POST"
          th:action="@{/authors/update}"
          th:object="${authorForm}">
        <input type="hidden" name="id"
               th:value="${author.getId()}">
        <div class="mt-3 row g-2">
            <div class="col-md">
                <div class="form-floating">
                    <input name="authorFio" th:value="${author.getAuthorFio()}" type="text" class="form-control" id="authorFio" placeholder="ФИО автора" required>
                    <label for="authorFio">ФИО автора</label>
                    <div class="invalid-feedback">Обязательное поле для заполнения</div>
                </div>
            </div>
        </div>
        <div class="mt-3 row g-2">
            <div class="col-md">
                <div class="form-floating">
                    <input name="birthDate" th:value="${author.getBirthDate()}" type="date" class="form-control" id="date" placeholder="Дата рождения" required>
                    <label for="date">Дата рождения</label>
                    <div class="invalid-feedback">Обязательное поле для заполнения</div>
                </div>
            </div>
            <div class="mt-3 form-floating">
                <input type="hidden" th:value="${author.getImage()}" name="fileImageInput"
                       class="form-control form-control-sm">
                <input name="fileImageInput" type="file" class="form-control form-control-sm" id="fileImageInput"
                       placeholder="Фото автора" style="padding-top: 2rem;">
                <label for="fileImageInput">Фотография</label>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <textarea name="description" th:value="${author.getDescription()}" th:text="${author.getDescription()}" type="text" class="form-control" id="description"
                              placeholder="Описание"></textarea>
                    <label for="description">Описание</label>
                </div>
            </div>
        </div>
        <div class="mt-3 row g-2">
            <button type="submit" class="btn btn-primary" onclick="validateForm()">Обновить</button>
            <button type="button" class="btn btn-secondary" onclick="window.history.back()">Назад</button>
        </div>
    </form>
</div>
</div>
</body>
</html>