<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">
<head>
    <title>Информация об авторе</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
    <div >
        <hr class="hr"/>
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Главная</a></li>
                <li class="breadcrumb-item" ><a href="/authors">Авторы</a></li>
                <li class="breadcrumb-item active" aria-current="page" th:text="${author.getAuthorFio()}"></li>
            </ol>
        </nav>
        <h3 th:text="'Информация об авторе ' + ${author.getAuthorFio()}"></h3>
        <form class="mb-2 row">
            <div class="mb-2 row">
                <label for="authorFio" class="col-sm-2 col-form-label no-border">ФИО:</label>
                <div class="col-sm-10">
                    <p th:text="${author.getAuthorFio()}" class="form-control-plaintext" id="authorFio">
                </div>
            </div>
            <div class="mb-2 row">
                <label for="birthDate" class="col-sm-2 col-form-label">Дата рождения:</label>
                <div class="col-sm-10">
                    <p th:text="${author.getBirthDate()}" class="form-control-plaintext" id="birthDate">
                </div>
            </div>
            <div class="mb-2 row">
                <label for="description" class="col-sm-2 col-form-label">Описание:</label>
                <div class="col-sm-10">
                    <p th:text="${author.getDescription()}" class="form-control-plaintext" id="description">
                </div>
            </div>
        </form>
        <hr class="hr"/>
        <div class="mt-2">
            <form method="POST" th:object="${authorSearchForm}" th:action="@{/books/search/author}">
                <a sec:authorize="isAuthenticated() && !hasRole('USER')" class="btn btn-primary"
                   th:href="'/authors/add-book/' + ${author.getId()}">Добавить книгу</a>
                <input type="hidden" name="authorFio"
                       th:value="${author.getAuthorFio()}">
                <button type="submit" class="btn btn-primary">Посмотреть книги</button>
                <button type="button" class="btn btn-secondary" onclick="window.history.back()">Назад</button>
            </form>
        </div>
    </div>
</div>
</div>
</body>
</html>