<div xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
     th:fragment="header">
    <nav class="navbar navbar-expand-lg" style="background-color: #E6E6FA">
        <div class="container-fluid">
            <a class="navbar-brand" href="/" style="color: black">Онлайн Библиотека</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav me-auto mb-2 mb-lg-0 nav-pills">
                    <li class="nav-link ps-3 pe-3">
                        <a class="nav-link " aria-current="page" href="/books">Книги</a>
                    </li>
                    <li class="nav-link ps-3 pe-3">
                        <a class="nav-link" aria-current="page" href="/authors">Авторы</a>
                    </li>
                    <li class="nav-link ps-3 pe-3" sec:authorize="isAuthenticated() && hasRole('USER')">
                        <a class="nav-link" aria-current="page"
                           th:href="'/rent/user-books/' + ${#authentication.getPrincipal().getId()}">Мои книги</a>
                    </li>
                    <li class="nav-link ps-3 pe-3" sec:authorize="isAuthenticated() && hasAnyRole('ADMIN', 'LIBRARIAN')">
                        <a class="nav-link" aria-current="page" href="/users/list">Пользователи</a>
                    </li>
                </ul>
                <form class="d-flex p-3" sec:authorize="isAuthenticated()">
                    <span th:text="${#authentication.getPrincipal().getUsername()}"></span>
                </form>
                <div sec:authorize="isAuthenticated() && !hasRole('ADMIN')">
                    <a class="nav-link active" style="float: right"
                       th:href="'/users/profile/' + ${#authentication.getPrincipal().getId()}">Профиль</a>
                </div>
                <form class="d-flex" sec:authorize="!isAuthenticated()">
                    <a href="/login" class=" btn btn-primary" role="button" aria-disabled="true">Войти</a>
                </form>
                <form class="d-flex" sec:authorize="isAuthenticated()">
                    <a href="/logout" class=" btn btn-primary" role="button" aria-disabled="true">Выйти</a>
                </form>
            </div>
        </div>
    </nav>
</div>