/*.btn-primary-my {*/
/*    color: white !important;*/
/*    background-color: #b84f3c;*/
/*    border-color: #b84f3c;*/
/*}*/
@font-face {
 	font-family: 'Stolzl';
 	src: url(/fonts/stolzl_regular.otf);
 }

 /* Жирный */
 @font-face {
 	font-family: 'Stolzl bold';
 	src: url(/fonts/stolzl_bold.otf);
 }

  @font-face {
  	font-family: 'Stolzl book';
  	src: url(/fonts/stolzl_book.otf);
  }
    @font-face {
    	font-family: 'Stolzl light';
    	src: url(/fonts/stolzl_light.otf);
    }
      @font-face {
        	font-family: 'Stolzl medium';
        	src: url(/fonts/stolzl_medium.otf);
        }
        html {
        	line-height: 1.15;
        	-webkit-text-size-adjust: 100%;
        }


         body {
        	width: 100%;
               height: 100%;
               margin: 0;
               padding: 0;
        	font-family: 'Stolzl book', sans-serif;
        	-webkit-font-smoothing: antialiased;
        	-webkit-text-size-adjust: 100%;
        	/*background: radial-gradient(rgb(145, 37, 218), rgb(39, 7, 92));*/
        	background: none;
        	transition: all 0.3s linear;
        	-webkit-transition: all 0.3s linear;
        	-moz-transition: all 0.3s linear;
        	-o-transition: all 0.3s linear;

        }
.btn-primary {
    color: white !important;
    background-color: #6A5ACD;
    border-color: #6A5ACD;
}

.btn-primary:hover {
    color: white !important;
    background-color: #6A5ACD;
    border-color: #6A5ACD;
}
.btn-primary:focus {
    color: white !important;
    background-color: #6A5ACD;
    border-color: #6A5ACD;
}
/*.btn-primary-my:hover {*/
/*    color: white !important;*/
/*    background-color: #b84f3c;*/
/*    border-color: #b84f3c;*/
/*}*/


.nav-link {
    color: black !important;
    font-family: 'Stolzl bold', sans-serif;
}

.text-link {
    text-decoration: none;
}

.text-link:hover {
    color: #001445;
}

.hr {
    border: 1px solid;
    color: #001445;
}

.not-enough-book {
    color: red;
}
html {
  /* Растягиваем документ на всю высоту окна */
  height: 100%;
}

body {
  position: relative;
  margin: 0;
  /* Растягиваем body по высоте html */
  min-height: 100%;
}


main {
   /* Выставляем отступ с высотой footer и header */
  min-height: calc(100vh - 30px - 28px);
}

footer {
  /* Высота footer */

  background: black;
}
.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}
.nav-tabs .nav-item.show .nav-link, .nav-pills .nav-link.active{
background-color: #E6E6FA !important;
border-color : #6A5ACD !important;
border-bottom: 3px solid;
}
.page-link{
color: #6c757d;}
 ul {
    list-style-type: none; /* Убирает буллиты */
   }
   a{
   color: #6A5ACD ;
   text-decoration: none;
   }
   img {
      width: 100%;
      height: auto;
      object-fit: cover;
   }
/*
TODO:
   1) фиксация хедера
   2) Кнопки синим начинают гореть после нажатия
   3) поиск при пагинации не сохраняет значения при переходе на новую страницу
 */